:root {
  font-size: 162.5%; }

body {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif, 'Droid Sans';
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  background: #3a3a3a;
  color: #ddd; }

#info {
  font-size: small;
  position: absolute;
  bottom: 0px;
  left: 40%;
  z-index: 500;
  color: #fff; }

/* optional */
#topinfo {
  font-size: small;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 500; }

.key {
  font-weight: bold;
  padding: 3px;
  background-color: rgba(255, 255, 255, 0.3); }

#presentation {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  display: block;
  overflow: hidden; }

.slides {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  display: block;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  -webkit-transform: scale(0.8);
  transform: scale(0.8); }

.slide.far-past {
  display: block;
  margin-left: -200%; }

.slide.past {
  visibility: visible;
  display: block;
  margin-left: -100%; }

.slide.current {
  visibility: visible;
  display: block;
  margin-left: 0; }

.slide.future {
  visibility: visible;
  display: block;
  margin-left: 100%; }

.slide.far-future {
  display: block;
  margin-left: 200%; }

.slide {
  display: none;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 700px;
  top: 0;
  left: 0;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }

.slide .counter {
  color: #999999;
  position: absolute;
  left: 20px;
  top: 90%;
  display: block;
  font-size: 0.7rem; }

.slide.title > .counter,
.slide.segue > .counter,
.slide.mainTitle > .counter {
  display: none; }

#presentation-counter {
  display: none; }

#next,
#back {
  z-index: 1000;
  position: absolute;
  top: 5px;
  left: 5px;
  list-style-type: none;
  -webkit-appearance: none;
  color: #ddd;
  font-size: 1rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  border: none;
  padding: 5px 10px;
  letter-spacing: 1px;
  font-size: 1rem; }

#next {
  left: auto;
  right: 5px; }

/* Content */
header {
  font-weight: normal;
  letter-spacing: -.05em;
  text-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px;
  left: 30px;
  top: 25px;
  font-size: 2rem; }

h1 {
  font-size: 1.8rem;
  margin-bottom: 0px; }

h2 {
  font-size: 1.9rem; }

h1:first-child {
  margin-top: 0; }

section, footer {
  text-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px;
  margin: 20px 30px 0;
  display: block;
  overflow: hidden; }

footer {
  font-size: 1rem;
  margin: 20px 0 0 30px; }

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
  line-height: 110%; }

a:hover {
  text-decoration: underline; }

pre {
  text-align: left;
  font-size: 0.8rem;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.5);
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid white; }

pre b {
  font-weight: normal;
  color: #c61800;
  text-shadow: #c61800 0 0 1px;
  /*letter-spacing: -1px;*/ }

pre em {
  font-weight: normal;
  font-style: normal;
  color: #18a600;
  text-shadow: #18a600 0 0 1px; }

.content {
  font-size: 2rem; }

.content input, button {
  font-size: 2rem; }

.slide textarea.mynotes {
  -webkit-appearance: none;
  border: 1px #aaa solid;
  border-radius: 5px;
  width: 100%;
  font-size: 1.2rem;
  font-style: italic;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
  padding: 5px;
  box-sizing: border-box;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, cursive,serif; }

.slide.intro {
  text-align: center;
  font-size: 2rem; }

.slide.intro hgroup {
  margin-top: 200px; }

.slide.section, .slide.intro {
  text-align: center; }

.slide.section, .slide.intro header {
  font-size: 2.5rem; }

.slide li {
  margin-bottom: 10px; }

.slide p {
  font-size: 2rem; }

.force-render {
  display: block;
  visibility: hidden; }

div.example {
  display: block;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2); }

/* OBJECT PAGES */
.object header {
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  left: 0; }

.objectlink {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  background-color: #000;
  padding: 3px 5px;
  border: none; }

.slide.object {
  padding: 0; }

.object object {
  width: 100%;
  height: 100%; }

.notes, .temphidden {
  display: none; }

@media print {
  .slide {
    page-break-inside: avoid;
    page-break-after: always;
    visibility: visible !important;
    font-size: 20pt;
    font-family: Arial, sans-serif; }

  @page {
    size: landscape; }

  body {
    font-size: 12pt;
    background: white; }

  header h1 {
    border-top: 2pt solid gray;
    border-bottom: 1px dotted silver; }

  #presentation-counter, #info, #topinfo, .counter {
    display: none; } }
