
.slide .counter {
  color: #999999;
  position: absolute;
  left: 20px;
  top: 90%;
  display: block;
  font-size: 0.7rem;
}
.slide.title > .counter,
.slide.segue > .counter,
.slide.mainTitle > .counter {
  display: none;
}
/* CSS Counter */
body {counter-reset: pagecount;}
.slide {counter-increment: pagecount;}
.slide:after {
  content: counter(pagecount);
  color: pink;
  position: absolute;
  bottom: 2rem;
  left: 1rem;
}