:root {font-size: 162.5%;}
body {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif, 'Droid Sans';
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  left: 0px; top: 0px;
  background: #333333;
  color: #ddd;
}

#info {
  * {font-size: 0.5rem;}
  position: absolute;
  bottom: 0px;
  left: 40%;
  z-index: 500;
  color: #fff;
}
/* optional */
#topinfo {
  font-size: small;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 500;
}
.key {
  font-weight: bold;
  padding: 3px;
  background-color: rgba(255,255,255,0.3);
  }
#presentation {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  display: block;
  overflow: hidden;
}
.slides {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  display: block;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

header, section {padding: 10px 20px;}