span[class^=os] {display: inline-block; padding: 3px;}
.os100:hover ~ object {width: 100px;}
.os200:hover ~ object {width: 200px;}
.os300:hover ~ object {width: 300px;}
.os400:hover ~ object {width: 400px;}
.os500:hover ~ object {width: 500px;}
.os600:hover ~ object {width: 600px;}
.os700:hover ~ object {width: 700px;}
.os800:hover ~ object {width: 800px;}
.os900:hover ~ object {width: 900px;}
.os1000:hover ~ object {width: 1000px;}
.os1100:hover ~ object {width: 1100px;}
.os1200:hover ~ object {width: 1200px;}
.os1300:hover ~ object {width: 1300px;}
.os1400:hover ~ object {width: 1400px;}
.os1500:hover ~ object {width: 1500px;}
.os1600:hover ~ object {width: 1600px;}
.os1700:hover ~ object {width: 1700px;}
.os1800:hover ~ object {width: 1800px;}
.os1900:hover ~ object {width: 1900px;}
