.slide.far-past {
  display: block;
  margin-left: -200%;
}
.slide.past {
  visibility: visible;
  display: block;
  margin-left: -100%;
}
.slide.current {
  visibility: visible;
  display: block;
  margin-left: 0;
}
.slide.future {
  visibility: visible;
  display: block;
  margin-left: 100%;
}
.slide.far-future {
  display: block;
  margin-left: 200%;
}