
.stepsexplain {
  list-style-type: none;
}
.stepsexplain div {
  border: 2px solid black;
  background-color: white;
  margin: 2px;
  margin-left: 360px;
  position: relative;
  width: 360px;
  height: 92px; display: inline-block;
  vertical-align: middle;
}
.stepsexplain div:before,
.biker {
  content: '';
  height: 92px;
  width: 360px;
  position: absolute;
  background-image: url(../images/bike.png);
  background-repeat: no-repeat;
  border: 1px solid #666;
  background-color: rgba(255,255,255,0.3);
  }
.stepsexplain li:nth-of-type(2) div:before {
  left: -90px;
}
.stepsexplain li:nth-of-type(3) div:before {
  left: -180px;
}
.stepsexplain li:nth-of-type(4) div:before {
  left: -270px;
}
.stepsexplain li:nth-of-type(5) div:before {
  left: -360px;
}

.stepsexplain div:after {
  content:"";
  border: red solid 2px;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom:0px;
  width: 90px;
}

.biker {
  top: 300px;
  left: 100px;
  width: 90px;
  background-color: white;
  border-radius: 50%;
  box-shadow: inset 3px 3px 3px rgba(0,0,0,0.3),
              inset -3px -3px 3px rgba(0,0,0,0.3),
             3px 3px 3px rgba(0,0,0,0.2);
  border: 3px black solid;
}

@-webkit-keyframes pedal {
  0% {background-position: 0 0;}
  100% {background-position: -360px 0;}
}

@keyframes pedal {
  0% {background-position: 0 0;}
  100% {background-position: -360px 0;}
}